*,*::after,*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: top;
}
.container{
    max-width: 1156px;
    margin: 0 auto;
    padding: 0px 15px;
}

html,body{
    height: 100%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: rgba(31, 46, 53, 0.80);
}
.wrapper{
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.header {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
.header__logo {
    cursor: pointer;
}
.header__menu {
    display: flex;
    gap: 116px;
}
.menu__list{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
@media(max-width:1200px){
    .menu__list{
        gap: 30px;
    }
}
@media(max-width:900px){
    .menu__list{
        font-size: 16px;
    }
}
.menu__item{
   
    
}
.menu__arrow{
    cursor: pointer;
    margin:0px 0px 3px 8px;
    display: inline-block;
}

.icons__list {
    display: flex;
    align-items: center;
    gap: 24px;

}


@media(max-width:1024px){
    .header{
        
    }
    .header__menu{
        max-width: 100%;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #18b5a4;
        padding: 70px 0px 0px 20px;
        top: -100%;
        transition: all 0.3s ease 0s;
        text-align: center;
        
    }
    .header__menu.active{
        top: 0;
    }
    .menu__list {
        font-size: 24px;
        flex-direction: column;
        position: relative;
        z-index: 3;
    }
    .menu__item{
       
    }
    .icons__list{
        padding-top: 60px;
        display: inline-flex;
        position: relative;
        z-index: 3;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        cursor: pointer;
    
    }
    .header__burger span{
        position: absolute;
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
}


.main {
    flex: 1 1 auto;
}
.main__body {
    display: flex;
    justify-content: space-between;
    padding: 59px 0px;
}
.main__left {
    max-width: 545px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.main__title {
    color: #1F2E35;
    font-size: 48px;
    font-weight: 700;
    line-height: 133.687%; /* 64.17px */
}
.main__title span{
    color: #EE4248;
}
.main__description {
    color: #30444E;
    font-size: 20px;
    line-height: 144.687%; /* 28.937px */
}
.button {
    color: #FFF;
    font-size: 20px;
    line-height: 144.687%; 
    width: 161px;
    padding: 12px 0px;
    text-align: center;
    border-radius: 4px;
    background: #EE4248;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
}




.welcome {
    background: #F6F6F6;
}
.container {
}
.welcome__body {
    padding: 57px 0px 63px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.welcome__left {
}
.welcome__right {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.welcome__title {
    color: #1F2E35;
    font-size: 32px;
    font-weight: 500;
    line-height: 133.687%; /* 42.78px */
}
.welcome__title span{
    color: #EE4248;
}
.welcome__description {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.welcome__description span{
    color: #EE4248;
    font-weight: 500;
}
.welcome__description p{
    color: #30444E;
    font-size: 18px;
    line-height: 150%; /* 27px */
}

@media(max-width:920px){
    .main__body, .welcome__body{
        flex-direction: column;
        gap: 50px;
    }
    .main__left{
        max-width: 100%;
    }
    .main__right{
        order: -1;
    }
    .main__right img, .welcome__left img{
        max-width: 100%;
    }
    
}
@media(max-width:425px){
    .main__body{
        gap: 25px;
    }
    .main__left,.welcome__right,.welcome__description{
        gap: 12px;
    }
    .main__title{
        font-size: 30px;
    }
    .main__description{
        font-size: 16px;
    }
    .button{
        width: 140px;
        font-size: 16px;
    }
}

.product__body {
    padding: 20px 0px 23px 0px;
}
.product__title {
    color: #1F2E35;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 133.687%; /* 42.78px */
}
.product__blocks {
    padding-top: 17px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    
}
.product__item {
    max-width: 363px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 24px 20px 4px 24px;
}
.item__title {
    color: #EE4248;
    font-size: 28px;
    font-weight: 500;
    line-height: 133.687%; /* 37.432px */
}
.item__disc {
    color: #30444E;
    font-size: 18px;
    line-height: 150%; /* 27px */
}
.button-product{
    font-size: 18px;
    width: 119px;
    padding: 8px 0px;
}


.footer{
   padding-top: 106px;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    gap: 47px;
    align-items:end;
    padding: 28px 0px 26px 0px;
}
.footer__left {
    max-width: 317px;
    
}
.footer__left p{
    color: #263238;
    font-size: 18px;
    font-weight: 300;
    line-height: 149.187%; /* 26.854px */
}
.footer__logo {
    padding-bottom: 10px;
}
.footer__left-title {
    color: #263238;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
}
.footer__right {
    max-width: 269px;
    
}
.footer__right p{
    color: #263238;
    font-size: 18px;
    font-weight: 300;
    line-height: 149.187%; /* 26.854px */
}
.footer__right-title {
    color: #263238;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}
.footer__copyright{
    display: flex;
    justify-content: space-around;
    background: #EE4248;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    min-height: 64px;
}
.footer__copyright span{
    font-weight: 500;
}